.date
{
	font-size: 1em;
	margin: 0px;
	
}

body
{
	border:solid 5px;
	padding-left: 200px;
	padding-right: 600px;
	background: url("background.jpg") center;

	
}

h3
{
	
	padding-top: 7px;

	

}

.banner
{
	padding-top: 7px;
	position: relative;
	
}



.location 
{
	font-style: italic;
	margin: 0px;
	color: rgb(255,0,255);
}

h1
{
	font-size: 8em;
	text-shadow: 2px 10px 10px red;
	color: linear-gradient(to bottom right, red, blue);

}

@keyframes example
{

}

h2
{
	padding-top: 10px;
	font-family: sans-serif;
	font-style: bold;
	border-bottom: solid 3px
}

.tech
{
	background-color:rgba(255,255,255,.5);
	border-radius: 10px;

}

.experience
{
	background-color:rgba(255,255,255,.5);
	border-radius: 10px;
}

.education
{
	background-color:rgba(255,255,255,.5);
	border-radius: 10px;
}